.add-guest-text {
  margin-right: 15px;
  width: 350px;
  height: 30px;
  border-radius: 15px;
  border: 2px solid #dbdbdb;
  font-size: 16px;
  padding: 5px;
  padding-left: 20px;
}

.add-guest-button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
