.add-todo-text {
  float: left;
  margin-right: 5px;
  margin-top: 2px;
}

.add-todo-button {
  font-weight: bold;
  background: #fff;
  border: 1px solid #999;
  padding: 0;
  margin: 0;
  text-align: center;
  height: 18px;
  width: 40px;
}